/* -------------------------------------------------------------------
	## Document CSS - 4Noob.com ##
Bienvenue dans la CSS de 4noob.com, vous avez tout à 
fait le droit de vous en inspirez, mais pas de plagier le design.
En plus, il est de votre intérais d'avoir un site au design original,
pour qu'il ait sa propre identité visuelle, plutôt qu'un design  plagié...

La feuille de style est organisé de cette façon:

-0: Body
-1: Page et styles associés
-2: Header et styles associés
-3: Contenu et styles associés
-4: Menu et styles associés
-5: Footer et styles associés
-6: Formatage du texte

Bonne visite ;)
------------------------------------------------------------------- */

body{
 font-family: Verdana,Geneva,Arial,Helvetica,"Trebuchet MS",sans-serif;
 font-size: 0.7em;
 background:url(images/fond.jpg) repeat-y white 140px;
 padding: 0;
 margin: 0;
 color: #444
}
/* -------------------------------------------------------------------
Page et styles associés
 ------------------------------------------------------------------- */
#page{
 width: 100%;
 margin: 0;
}
#access{
 text-align: right;
}
#access ul{
 background: #4d5180;
}
#access li{
display: inline;
border-right: 1em solid #4d5180;
}
#access a{
 color: #4d5180;
 text-decoration: none;
}
#access a:hover{
 color: #f0f0f0;
}
/* -------------------------------------------------------------------
Header et styles associés
 ------------------------------------------------------------------- */
#header{
 height: 50px;
 background: url(images/header.gif) repeat-x white;
 border-bottom: 1px solid #f0f0f0;
}
#header h1{
 margin: 0;
 padding: 1em 0.5em 0 0;
 text-align: right;
 font-variant: small-caps;
 font-size: 2em;
}
#header h1 a{
 color: white;
 text-decoration: none;
}
/* -------------------------------------------------------------------
Contenu et styles associés
 ------------------------------------------------------------------- */
#contenu{
 margin: 5em 4em 4em 200px;
 min-height:55em;
 height:55em;
}
html>body #contenu{
 height:auto;
}
/* -------------------------------------------------------------------
Menu et styles associés
 ------------------------------------------------------------------- */
#menu h2{
 margin: 0.9em 0 0.9em 0;
 font-variant: small-caps;
}
#menu label{
 color: #777;
 font-weight: bold;
}
#search{
 margin-top: 3em;
}
#menu h2, #contenu h2{
 font-size: 1.2em;
 border-bottom: 1px solid #f0f0f0;
 color: #4d5180;
}
#menu {
 position: absolute;
 top: 9.7em;
 left: 1em;
 width: 130px;
 overflow:hidden;
}
#menu a{
 color: #707070;
 text-decoration: none;
}
#menu li, ul{
 list-style: none;
 margin: 0;
 padding: 0;
 padding-left: 0.8em;
}
#menu li{
 padding: 2px 2em 2px 1em;
}
#menu li:hover{
 background: #f9f9f9;
}
/* -------------------------------------------------------------------
Footer et styles associés
 ------------------------------------------------------------------- */
#footer{
 clear: both;
 text-align: right;
 padding: 1em;
 color: #999;
 border-top: 1px solid #f0f0f0;
 margin: 0;
 margin-left: 200px; 
}
#footer li{
 display: inline;
 border-right: 1em solid white;
}
#footer a{
 color: #999;
 text-decoration: none;
}
/* -------------------------------------------------------------------
Formatage du texte
 ------------------------------------------------------------------- */
#contenu h2{
 margin-top: 2em;
}
#contenu h4.signature{
 color: #999;
 font-size: 0.8em;
 font-weight: normal;
 text-align: right;
 margin-top: 1.5em;
}
#co{
 margin-top: 4em;
}
h3.preview{
 color: #999;
 font-size: 0.8em;
 font-weight: normal;
}
blockquote.com{
 border: 1px solid #d2d2d2;
 border-left: 6px solid #d2d2d2;
 background: #efefef;
 padding: 1em;
 margin: 0 5em 0 0;
}
fieldset{
 border: none;
}
.nbre-co{
 list-style-type: decimal;
}
.none-co{
 margin: 2em;
}
.float-left{
 float: left;
}
.float-right{
 float: right;
}
input, textarea{
 border: 1px solid #eee;
 background: white;
 color: #888;
 margin: 0.2em;
}
a:hover{
 text-decoration: none;
}
a{
 color: #999;
} 
h3.bleu{
 font-weight: 1em;
 color: #4d5180;
}
li{
 list-style: square;
}
