---
---

{% include reset.css %}

/* General */

body {
  font: 0.8em/1.5em 'Muli', Verdana, "Trebuchet MS", "Lucida Grande", Arial, sans-serif;
  width: 100%;
  background-color: #f3f3f3;
}

/* Wrapper */

.content,
nav ul {
  width: 700px;
  margin: 0 auto;
}

.content {
  background-color: #fff;
  box-shadow: inset 0 10px 10px 10px #f9f9f9;
  -moz-box-shadow: inset 0 10px 10px 10px #f9f9f9;
  -webkit-box-shadow: inset 0 10px 10px 10px #f9f9f9;
  border: 1px solid #d8d8d8;
  padding: 2em;
  padding-bottom: 0;
  margin-bottom: 2em;
}


/* Header */

header {
  background: url(img/pencils.jpeg) no-repeat top right;
  padding: 2em 0 3em 0;
}

hgroup h1 {
  font: 3em Georgia, Serif, Verdana;
}

hgroup h1 a{
  color: #333;
  text-decoration: none;
}

hgroup h2 {
  font-size: 1.2em;
  font-weight: normal;
  letter-spacing: 0.3em;
  margin-left: 0.2em;
}

/* Nav */

nav {
  width: 100%;
  background: #333;
  position: fixed;
  top: 0;
  right: 0;
}

nav li {
  display: inline;
  letter-spacing: 0.1em;
}

nav li a {
  margin: 0 0.5em;
  padding: 0.2em 0.6em;
  color: #fff;
  text-decoration: none;
  display: block;
  float: left;
}

nav li a:hover,
nav li a.selected {
  background: #444;
  border-bottom: 3px solid #999; 
}

nav li a.selected {
  font-weight: 700;
}

/* Article */

article {
  margin-bottom: 2em;
}

article h3 {
  color: #f2760d;
  font-size: 1.3em;
  font-weight: 400;
  letter-spacing: 0.2em;
  line-height: 1em;
  margin: 1.5em 0 0.5em;
}

article p {
  padding: 0.8em 0;
  text-align: justify;
}

article a {
  color: #f2760d;
}

article a:hover {
  text-decoration: none;
}

/* Footer */

footer {
  color: #999;
  margin: 0 1em;
  padding: 0.5em 1em;
  font-size: 0.9em;
  text-align: center;
  border-top: 1px solid #D7D7D7;
}

#design-by {
  color: #777;
  text-decoration: none;
  font: 1.2em Georgia, Serif, Verdana;
}

