/**************************************
    CSS Document by Alexandre Joseph
    http://www.alexandrejoseph.com/
***************************************/

* {
    margin:0;
    padding:0
}

body {
    font:12px/2em Verdana, "Trebuchet MS", "Lucida Grande", Arial, sans-serif;
    background: url(./img/background.png) repeat-x top;
}

hr {
    display:none
}

/* header ****************************/

#header {
    height: 63px;
    text-align: right;
    width: 760px;
    margin: 0 auto;
}

#header #title {
    text-align: left;
    float: left;
    padding-right: 0.5em;
    margin: 0.6em 0;   
    
}

#header #title h1 a {
    color: #fff;
    font: 1.2em Georgia, Sans-Serif, Verdana;
    text-decoration: none;
    line-height: 1em;
}

#header #title p {
    color: #cdcdcd;
    font: 1.1em Georgia, Sans-Serif, Verdana;
    letter-spacing: 0.33em;
    line-height: 1em;    
}

#header #title p.sl-en {
    letter-spacing: 0.26em;   
}

/* menu ******************************/

#menu {
    padding: 1.5em 0 0 0;   
}

#menu li {
    display: inline;
    border-right: 1px solid #536d80;
    margin: 0.5em 0;
    padding: 0 0.4em;
    font-size: 1.2em;
}

#menu li a {
    color: #fff;
    text-decoration: none;    
}

#menu li a:hover {
    text-decoration: underline;   
}

#menu li.m-last {
    border: none;   
}

/* content ***************************/

#content {
    width: 760px;
    margin: 4em auto 2em auto;
}

#content h2 {
    color: #27343c;
    font: 1.8em Georgia, Sans-Serif, Verdana;
    margin: 1em 0 0.6em 0; 
}

#content p {
    margin: 0.8em 0;
}

#content a {
	color: #536d80;
}

#content a:hover {
	text-decoration: none;
}

/* footer ****************************/

#footer {
    text-align: center;
    margin: 2em auto 0 auto;
    border-top: 1px solid #cdcdcd;
	background: url(./img/background.png) 0px -63px repeat-x;
    color: #777;
	padding-top: 0.3em;
}

#footer a {
	color: #888;
}

#footer a:hover {
	color: #999;
}
