---
name: SunEffect
layout: base
header:
    - <link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
---

{% include global.html %}

<header role="banner">
    <h1><a href="#">{{ page.name }} template</a></h1>
    <h2>{{ slogan }}</h2>
</header>

{% include content.html %}

<nav role="navigation">
  <h3>Category 1</h3>
  <ul>
    <li><a href="#">Item 1</a></li>
    <li><a href="#">Item 2</a></li>
    <li><a href="#">Item 3</a></li>
    <li><a href="#">Item 4</a></li>
    <li><a href="#">Item 5</a></li>
  </ul>
  <h3>Category 2</h3>
  <ul>
    <li><a href="#">Item 1</a></li>
    <li><a href="#">Item 2</a></li>
    <li><a href="#">Item 3</a></li>
  </ul>
  <h3>Category 3</h3>
  <ul>
    <li><a href="#">Item 1</a></li>
    <li><a href="#">Item 2</a></li>
    <li><a href="#">Item 3</a></li>
    <li><a href="#">Item 4</a></li>
  </ul>
</nav>

{% include footer.html %}

