---
name: Media-Notion
layout: base
header:
    - <link href='http://fonts.googleapis.com/css?family=Carme|Six+Caps' rel='stylesheet' type='text/css'>
wrapper: true
---

{% include global.html %}

<header role="banner">
  <hgroup>
      <h1><a href="#">{{ page.name }} template</a></h1>
      <h2>{{ slogan }}</h2>
  </hgroup>
</header>

<nav role="navigation">
  <ul>
    <li><a href="#">First item</a></li>
    <li><a href="#">Second item</a></li>
    <li><a href="#">Third itend</a></li>
  </ul>
</nav>

{% include content.html %}

{% include footer.html %}

