---
---

{% include reset.css %}

/* General */

body {
  font: 0.8em/1.5em Verdana, "Trebuchet MS", "Lucida Grande", Arial, sans-serif;
  width: 100%;
  background: #83a4c4;
}

/* Wrapper */

.content {
  background: #fff;
  margin: 5em 3em 1em 3em;
  box-shadow: 0 0 8px 4px #788999;
  -moz-box-shadow: 0 0 8px 4px #788999;
  -webkit-box-shadow: 0 0 8px 4px #788999;
  border-top-right-radius: 30px;
  padding: 0.8em;
}

/* Header */

header {
  background: url(img/header.gif) repeat-x top left;
  height: 50px;
  border-top-right-radius: 20px;
}

hgroup {
  position: absolute;
  top: 1em;
  left: 3em;
  text-shadow: 0 -1px 1px #333;
}

hgroup h1 {
  font: 3em 'Six Caps', Verdana, "Trebuchet MS", "Lucida Grande", Arial, sans-serif;
  float: left;
}

hgroup h1 a {
  color: #fff;
  text-decoration: none;
}

hgroup h2 {
  float: left;
  margin: 2.2em 0 0 0.5em;
  color: #ececec;
  font-size: 1em;
  letter-spacing: -0.1em;
}

/* Nav */

nav {
  text-align: right;
  background-color: #eaeaea;
  border: 1px solid #e0e0e0;
  border-top: none;
  border-bottom-left-radius: 8px;
  padding: 0.2em;
}

nav li,
article h3 {
  font-family: 'Carme', Verdana, "Trebuchet MS", "Lucida Grande", Arial;
}

nav li {
  display: inline;
  padding: 0.1em 0.4em;
  letter-spacing: 0.1em;
  font-variant: small-caps;
  text-transform: lowercase;
}

nav li a {
  color: #333;
  text-decoration: none;
}

nav li a:hover {
  border-bottom: 1px dotted #333;
}

/* Article */

article {
  margin: 2em;
}

article h3 {
  font-size: 1.5em;
  margin: 1em 0 0.7em 0;  
}

article p {
  margin: 0.8em 0;
  text-align: justify;
}

/* Footer */

footer {
  color: #999;
  margin-top: 2em;
  font-size: 0.9em;
  text-align: right;
}

#design-by {
  color: #777;
  text-decoration: none;
  font: 1.2em Georgia, Serif, Verdana;
}

