{% include global.html %}
<!doctype html> 
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]--> 
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]--> 
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]--> 
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]--> 
<head> 
  <meta charset="utf-8">
  <title>{{ page.name }} | {{ slogan }}</title>
  <link rel="stylesheet" href="style.css" />
  {% for elem in page.header %}
    {{ elem }}
  {% endfor %}
</head>
<body>
  {% if page.wrapper %}<div class="content">{% endif %}
    {{ content }}
  {% if page.wrapper %}</div>{% endif %}
</body>
</html>
