/*
    CSS Document by Alexandre Joseph
    http://alexandrejoseph.com/
*/

   
/* -------------------------------------------------------------------
Page et styles associés
 ------------------------------------------------------------------- */

body
{
 background: #333;
 font-family: Verdana, Arial, Helvetica, sans-serif;
 font-size: 0.7em;
 margin: 1em;
}

#page
{
 width: 65em;
 padding: 1em;
 background: white;
 margin: auto;
}


/* -------------------------------------------------------------------
Header et styles associés
 ------------------------------------------------------------------- */
#header
{
 height:10em;
 background:url(images/header.jpg) no-repeat top right;
}

#titre_site
{
 position: absolute;
 top: 6em;
 right: auto;
 left: auto;
 padding-left: 2em;
 font-size: 1.3em;
 text-align: right;
 letter-spacing: 0.3em; 
}

#titre_site span
{
 font-size: 0.9em;
}

#titre_site a
{
 color: black;
 text-decoration: none;
}


/* -------------------------------------------------------------------
Menu et styles associés
 ------------------------------------------------------------------- */

#menu
{
 float: right;
 width: 15em;
}

#menu dt
{
 font-size: 1.1em;
 border-bottom: 1px solid #7A7A7A;
 margin-left: 1.5em;
 text-decoration: none;
 margin-top: 3.1em;
 margin-bottom: 0.7em;
 font-weight: bold;
}

#menu a:hover
{
 color: #12243c;
}

#menu a
{
 color: black;
 text-decoration: none;
}


/* -------------------------------------------------------------------
Corps et styles associés
 ------------------------------------------------------------------- */

#corps
{
 margin-right: 15em;
 padding: 1em;
}

#corps .signature
{
 color: #7A7A7A;
 font-size: 0.9em;
}

#corps h2
{
 padding: 0.3em 0 0.1em 0;
 margin: 1.5em 0 1em 0;
 border-bottom: 0.1em solid #7A7A7A;
 font-size: 1.2em;
}


/* -------------------------------------------------------------------
Footer et styles associés
 ------------------------------------------------------------------- */

#footer
{
 text-align: center;
}

#footer a
{
 text-decoration: none;
 color: black;
} 

/* -------------------------------------------------------------------
Formulaires et styles associés
 ------------------------------------------------------------------- */

	
form
{
 padding: 0;
 margin: 0;
}
	
input, textarea
{
 border: 1px #CCCCCC solid;
 background-color: white;
}


/* -------------------------------------------------------------------
Liens et styles associés
 ------------------------------------------------------------------- */

a
{
 color:#444;
}

img a
{
 border:none;
}

/* -------------------------------------------------------------------
Images et styles associés
 ------------------------------------------------------------------- */

.float-right
{
 float:right;
}

.float-left
{
 float:left;
}


/* -------------------------------------------------------------------
List à puce et styles associés
 ------------------------------------------------------------------- */

.list-square
{
 list-style:square;
}

.list-decimal
{
 list-style:decimal;
}
